.owl-item .item {
    overflow: hidden;
    position: relative;
}

.item-wrapper {
    bottom: 0;
    position: absolute;
    transition: .5s;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.item-wrapper .description{
    position: absolute;
    bottom: 0;
}

.item-wrapper .description p{
    color: white;
    margin: 0;
    padding: 15px;
    text-align: left;
}

.item-wrapper .description h3{
    color: white;
    margin-bottom: 5px;
    padding-left: 15px;
    font-family: Russo One, "Open Sans", Arial, sans-serif;
    text-align: left;
}

.owl-item:hover .item-wrapper {
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
}

@media screen and (max-width: 768px) {
   .owl-item .item-wrapper {
    background-color: rgba(0, 0, 0, .4);
    opacity: 1;
}
