@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.eot?srf3rx);
  src: url(../fonts/icomoon/icomoon.eot?srf3rx#iefix)
      format("embedded-opentype"),
    url(../../fonts/icomoon/icomoon.ttf?srf3rx) format("truetype"),
    url(../../fonts/icomoon/icomoon.woff?srf3rx) format("woff"),
    url(../../fonts/icomoon/icomoon.svg?srf3rx#icomoon) format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif !important;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 1.7 !important;
  color: #777 !important;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: -webkit-linear-gradient(
    65deg,
    #0074cb 0,
    #103f85 23%,
    #20093e 61%
  );
  background-image: -ms-linear-gradient(
    65deg,
    #0074cb 0,
    #103f85 23%,
    #20093e 61%
  );
}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #1f8fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a:active,
a:focus,
a:hover {
  color: #1f8fff;
  outline: 0;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #1f8fff;
}

::-moz-selection {
  color: #fff;
  background: #1f8fff;
}

::selection {
  color: #fff;
  background: #1f8fff;
}

.gtco-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gtco-nav {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  padding: 14px 0;
  z-index: 1001;
}

@media screen and (max-width: 768px) {
  .gtco-nav {
    padding: 10px 0;
  }
}

.gtco-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.gtco-nav #gtco-logo em {
  color: #1f8fff;
}

.gtco-nav a {
  padding: 5px 10px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .gtco-nav .menu-1,
  .gtco-nav .menu-2 {
    display: none;
  }
}

.gtco-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}

.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.gtco-nav ul li a {
  font-size: 18px;
  padding: 10px;
  color: #95aff5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gtco-nav ul li a:active,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:hover {
  color: #fff;
}

.gtco-nav ul li.has-dropdown {
  position: relative;
}

.gtco-nav ul li.has-dropdown .dropdown {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.gtco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}

.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}

.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #439bf4;
  line-height: 1.2;
  text-transform: none;
  font-size: 14px;
}

.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}

.gtco-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}

.gtco-nav ul li.has-dropdown:focus a,
.gtco-nav ul li.has-dropdown:hover a {
  color: #fff;
}

.gtco-nav ul li.btn-cta a {
  color: #000;
}

.gtco-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}

.gtco-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0 14px 20px -9px rgba(0, 0, 0, 0.75);
}

.gtco-nav ul li.active > a {
  color: #fff !important;
}

@media screen and (max-width: 480px) {
  #gtco-header {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  #gtco-header .btn {
    display: block;
    width: 100%;
  }

  #gtco-header.aktsia .btn {
    display: inline-block;
    width: 100%;
  }
}

#gtco-counter,
#gtco-header,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.gtco-video {
  height: 0;
  padding-bottom: 55%;
  overflow: hidden;
}

.gtco-video video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.gtco-video.gtco-video-sm {
  height: 250px;
}

.gtco-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.gtco-cover {
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}

.gtco-cover a {
  color: #1f8fff;
}

.gtco-cover a:hover {
  color: #fff;
}

.gtco-cover .overlay {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(0, 0, 0, 0.3) 100%
  );
  background-repeat: no-repeat;
  background-position: 130% 0;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .gtco-cover.aktsia .playgame {
    margin: 0 auto;
  }
}

.gtco-cover > .gtco-container {
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  top: 50%;
  z-index: 10;
}

.gtco-cover.aktsia > .gtco-container {
  left: unset;
  transform: none;
  position: relative;
  top: unset;
  z-index: 10;
}

.gtco-cover.aktsia .playgame {
  background-image: linear-gradient(
    to bottom,
    rgba(75, 107, 245, 0.86) 0,
    rgba(208, 15, 247, 0.86) 100%
  );
}

@media screen and (max-width: 768px) {
  .gtco-video {
    margin-top: 96px;
  }
}

@media screen and (max-width: 480px) {
  .gtco-cover > .gtco-container {
    position: relative;
    padding-top: 20px;
  }
}

.gtco-cover .display-t,
.gtco-cover .display-tc {
  display: table;
  width: 100%;
}

.gtco-cover.gtco-cover-sm {
  height: 600px;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
    height: 400px;
  }
}

.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
  }
}

.gtco-cover.gtco-cover-xs {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs .display-t,
  .gtco-cover.gtco-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}

.gtco-staff {
  text-align: center;
  margin-bottom: 7em;
  float: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .gtco-staff {
    margin-bottom: 3em;
  }
}

.gtco-staff img {
  width: 100px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.gtco-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.gtco-staff p {
  margin-bottom: 30px;
}

.gtco-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: 400;
  display: block;
}

.gtco-social-icons {
  margin: 0;
  padding: 0;
}

.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.gtco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #439bf4;
  padding-left: 10px;
  padding-right: 10px;
}

.gtco-social-icons li a i {
  font-size: 35px;
}

.gtco-contact-info,
.gtco-location-info {
  margin-bottom: 30px;
  float: left;
  position: relative;
}

.gtco-contact-info ul,
.gtco-location-info ul {
  padding: 0;
  margin: 0;
}

.gtco-contact-info a,
.gtco-location-info a {
  color: #439bf4;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.gtco-contact-info ul li,
.gtco-location-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
  color: #ccc;
}

.gtco-contact-info ul li:before {
  color: #ccc;
  position: absolute;
  left: 0;
  top: 0.05em;
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gtco-location-info ul li:before {
  color: #ccc;
  position: absolute;
  left: 0;
  top: 0.05em;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gtco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}

.gtco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}

.gtco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}

.gtco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

.gtco-location-info ul li.ti-location-pin:before {
  font-size: 23px;
}

form label {
  font-weight: 400 !important;
}

#gtco-counter .display-tc,
#gtco-header .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
#gtco-header .display-tc h1,
#gtco-header .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: #fff;
}

#gtco-counter .display-tc h1,
#gtco-header .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 0;
  font-size: 59px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  #gtco-counter .display-tc h1,
  #gtco-header .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

#gtco-counter .display-tc h2,
#gtco-header .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 30px;
  line-height: 1.5;
}

#gtco-counter {
  text-align: center;
}

#gtco-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 100;
  display: block;
}

#gtco-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
}

@media screen and (max-width: 768px) {
  #gtco-counter .feature-center {
    margin-bottom: 50px;
  }
}

#gtco-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: 0 0 !important;
  border: none !important;
}

#gtco-counter .icon i {
  height: 70px;
}

#gtco-counter .icon i:before {
  color: #ccc;
  display: block;
  text-align: center;
  padding-top: 8px;
}

#gtco-portfolio {
  padding: 5em 0;
  background: url(../images/about_bg.png) no-repeat;
  background-size: contain;
  min-height: 500px;
  background-attachment: fixed;
  z-index: 10;
}

#gtco-about,
#gtco-price,
#gtco-faq,
#gtco-features,
#gtco-features-2,
#gtco-features-3,
#gtco-footer,
#gtco-games,
#gtco-products,
#gtco-services,
#gtco-subscribe,
.gtco-section {
  padding: 3em 0;
  clear: both;
  position: relative;
}

@media screen and (max-width: 768px) {
  #gtco-about,
  #gtco-price,
  #gtco-features,
  #gtco-features-2,
  #gtco-features-3,
  #gtco-games,
  #gtco-products,
  #gtco-services,
  #gtco-subscribe,
  .gtco-section,
  #gtco-portfolio {
    padding: 1em;
  }
}

#gtco-about.border-bottom,
#gtco-price.border-bottom,
#gtco-features-2.border-bottom,
#gtco-features.border-bottom,
#gtco-footer.border-bottom,
#gtco-footer-sertificate.border-bottom,
#gtco-games.border-bottom,
#gtco-products.border-bottom,
#gtco-services.border-bottom,
#gtco-subscribe.border-bottom,
.gtco-section.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}

#gtco-games p {
  margin: 0;
}

#gtco-features-2 {
  background: #efefef;
  position: relative;
  float: left;
  width: 100%;
}

.feature-center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 0;
  }
}

.feature-center .icon {
  width: 90px;
  height: 90px;
  border: 1px solid #fff;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 50px;
  line-height: 50px;
  color: #1f8fff;
}

.feature-center h3,
.feature-center p {
  margin-bottom: 30px;
}

.feature-center h3 {
  font-size: 18px;
  color: #1f8fff;
  position: relative;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.feature-left .icon {
  float: left;
  text-align: center;
  width: 15%;
}

.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #fff;
}

.feature-left .feature-copy {
  float: right;
  width: 80%;
}

.feature-left .feature-copy h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.gtco-heading {
  margin-bottom: 3em;
}

.gtco-heading.gtco-heading-sm {
  margin-bottom: 2em;
}

.gtco-heading h2 {
  font-size: 32px;
  margin: 20px 0;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

.gtco-heading h2:before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 50px;
  margin-left: -25px;
  height: 2px;
  left: 50%;
  background: #1f8fff;
}

.gtco-heading p {
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}

#gtco-products .testimony-slide {
  text-align: center;
}

#gtco-products .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}

#gtco-products .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#gtco-products .testimony-slide figure img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#gtco-products .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 992px) {
  #gtco-products .testimony-slide blockquote {
    width: 100%;
  }
}

#gtco-products .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}

#gtco-products .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}

#gtco-products .arrow-thumb a:active,
#gtco-products .arrow-thumb a:focus,
#gtco-products .arrow-thumb a:hover {
  text-decoration: none;
}

.gtco-tabs .gtco-tab-nav {
  clear: both;
  margin: 0 0 3em 0;
  padding: 3px;
  float: left;
  width: 100%;
  background: #f2f2f2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.gtco-tabs .gtco-tab-nav li {
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
  text-align: center;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.gtco-tabs .gtco-tab-nav li .icon {
  font-size: 30px;
}

.gtco-tabs .gtco-tab-nav li a {
  padding: 20px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  color: #b3b3b3;
}

.gtco-tabs .gtco-tab-nav li a:hover {
  color: #4d4d4d;
}

.gtco-tabs .gtco-tab-nav li.active a {
  background: #fff;
  color: #fff;
}

.gtco-tabs .gtco-tab-content-wrap {
  clear: both;
  position: relative;
  top: 70px;
}

.gtco-tabs .gtco-tab-content-wrap .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.gtco-tabs .gtco-tab-content-wrap .tab-content.active {
  opacity: 1;
  visibility: visible;
}

.gtco-tabs .icon-xlg {
  font-size: 400px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .gtco-tabs .icon-xlg {
    font-size: 300px;
  }
}

@media screen and (max-width: 480px) {
  .gtco-tabs .icon-xlg {
    font-size: 200px;
  }
}

.gtco-tabs .icon-xlg i {
  color: #fff;
}

#gtco-subscribe {
  background: #303841;
}

#gtco-subscribe .form-control {
  background: 0 0;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-subscribe .form-control:focus {
  background: 0 0;
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
}

#gtco-subscribe .form-control::-webkit-input-placeholder {
  color: #fff;
}

#gtco-subscribe .form-control:-moz-placeholder {
  color: #fff;
}

#gtco-subscribe .form-control::-moz-placeholder {
  color: #fff;
}

#gtco-subscribe .form-control:-ms-input-placeholder {
  color: #fff;
}

#gtco-subscribe .btn {
  height: 54px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

#gtco-subscribe .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

#gtco-subscribe .form-inline .form-group .form-control {
  width: 100%;
}

#gtco-subscribe .gtco-heading {
  margin-bottom: 30px;
}

#gtco-subscribe .gtco-heading h2 {
  color: #fff;
}

#gtco-subscribe .gtco-heading p {
  color: rgba(255, 255, 255, 0.5);
}

#gtco-footer .gtco-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}

#gtco-footer .gtco-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}

#gtco-footer .gtco-footer-links li a {
  text-decoration: none;
}

#gtco-footer .gtco-footer-links li a:hover {
  text-decoration: underline;
}

#gtco-footer-sertificate .gtco-widget,
#gtco-footer .gtco-widget {
  margin-bottom: 30px;
}

#gtco-footer-sertificate .gtco-widget h3,
#gtco-footer .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

#gtco-footer-sertificate .gtco-widget .gtco-quick-contact,
#gtco-footer .gtco-widget .gtco-quick-contact {
  padding: 0;
  margin: 0;
}

#gtco-footer-sertificate .gtco-widget .gtco-quick-contact li,
#gtco-footer .gtco-widget .gtco-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}

#gtco-footer .gtco-widget .gtco-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
}

@media screen and (max-width: 768px) {
  #gtco-footer .copyright .pull-left,
  #gtco-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}

#gtco-footer .copyright .block {
  display: block;
}

#gtco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  height: 1000px;
  background: #2e6dd4;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 60px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-offcanvas::before {
  content: url(../../images/logo-viaron.svg);
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  #gtco-offcanvas {
    display: block;
  }
}

.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#gtco-offcanvas a {
  color: #fff;
  border-bottom: 1px solid #b8ccf3;
  display: block;
}

#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}

#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0;
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.dropdown li a {
  border-right: 1px solid #fff;
  margin: 5px 0 0 0;
  padding: 5px !important;
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gototop.active {
  opacity: 1;
  visibility: visible;
}

.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(255, 255, 255, 0.7);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.gototop a:active,
.gototop a:focus,
.gototop a:hover {
  text-decoration: none;
  outline: 0;
}

.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.gtco-nav-toggle.active i::after,
.gtco-nav-toggle.active i::before {
  background: #444;
}

.gtco-nav-toggle:active,
.gtco-nav-toggle:focus,
.gtco-nav-toggle:hover {
  outline: 0;
  border-bottom: none !important;
}

.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all 0.2s ease-out;
}

.gtco-nav-toggle i::after,
.gtco-nav-toggle i::before {
  content: "";
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}

.gtco-nav-toggle.gtco-nav-white > i {
  color: #fff;
  background: #fff;
}

.gtco-nav-toggle.gtco-nav-white > i::after,
.gtco-nav-toggle.gtco-nav-white > i::before {
  background: #fff;
}

.gtco-nav-toggle i::before {
  top: -7px;
}

.gtco-nav-toggle i::after {
  bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
  top: -10px;
}

.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

.gtco-nav-toggle.active i {
  background: 0 0;
}

.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .gtco-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}

.btn.btn-md {
  padding: 8px 20px !important;
}

.btn.btn-lg {
  padding: 18px 36px !important;
}

.btn:active,
.btn:focus,
.btn:hover {
  box-shadow: none !important;
  outline: 0 !important;
}

.btn-primary {
  color: #fff;
  border: 2px solid #439bf4 !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #439bf4 !important;
  border-color: #fff !important;
}

.btn-primary.btn-outline {
  background: 0 0;
  color: #fff;
  border: 2px solid #fff;
}

.btn-primary.btn-outline:active,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:hover {
  background: #fff;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}

.btn-success:active,
.btn-success:focus,
.btn-success:hover {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}

.btn-success.btn-outline {
  background: 0 0;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}

.btn-success.btn-outline:active,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:hover {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

.btn-info:active,
.btn-info:focus,
.btn-info:hover {
  background: #46b8da !important;
  border-color: #46b8da !important;
}

.btn-info.btn-outline {
  background: 0 0;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}

.btn-info.btn-outline:active,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:hover {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}

.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
  background: #eea236 !important;
  border-color: #eea236 !important;
}

.btn-warning.btn-outline {
  background: 0 0;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:active,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:hover {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
  background: 0 0;
  color: #d9534f;
  border: 2px solid #d9534f;
}

.btn-danger.btn-outline:active,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:hover {
  background: #d9534f;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-white:active,
.btn-white:focus,
.btn-white:hover {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}

.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}

.btn-white.btn-outline:active,
.btn-white.btn-outline:focus,
.btn-white.btn-outline:hover {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-outline {
  background: 0 0;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn.with-arrow:hover {
  padding-right: 50px;
}

.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: 0 0;
  border: 2px solid rgba(146, 174, 245, 0.5);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.form-control:active,
.form-control:focus {
  outline: 0;
  box-shadow: none;
  border-color: #fff;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.gtco-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../../images/loader.gif) center no-repeat #0000004a;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .gtco-nav .gtco-contact {
    text-align: left !important;
    margin: 5px 0;
  }
}

.gtco-nav .gtco-contact ul {
  padding: 0;
  margin: 0 0 10px 0;
}

.gtco-nav .gtco-contact ul li {
  padding: 0;
  margin: 0;
}

.gtco-nav .gtco-contact ul li a {
  font-size: 16px;
  font-weight: 700 !important;
  margin-left: 0;
}

.gtco-nav .gtco-contact ul li a i {
  color: #439bf4;
}

.gtco-nav .gtco-contact ul li a:hover i {
  color: #fff;
}

#gtco-features-3 .feature {
  width: 33.33%;
  float: left;
  padding: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(75, 107, 245, 0.86) 0,
    rgba(208, 15, 247, 0.86) 100%
  );
  position: relative;
  text-align: center;
  margin-top: 9%;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 30px;
  }
}

#gtco-features-3 .feature h3,
.feature-sertificate h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#gtco-features-3 .feature p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.7;
}

#gtco-features-3 .feature .icon,
.price-time .icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px auto;
  position: relative;
  background: #fff;
  top: -3em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#gtco-features-3 .feature .icon i,
.price-time .icon i {
  line-height: 90px;
  height: 90px;
  font-size: 40px;
  color: #fff;
}

#gtco-features-3 .feature .icon i:before,
.price-time .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}

#gtco-features-3 .feature.feature-1 {
  z-index: 7;
  background: -webkit-linear-gradient(
    top,
    rgba(75, 107, 245, 0.86) 0,
    rgba(208, 15, 247, 0.86) 100%
  );
  background-image: linear-gradient(
      to bottom,
      rgba(75, 107, 245, 0.86) 0,
      rgba(208, 15, 247, 0.86) 100%
    ),
    url(../images/fan-Image.jpg);
  background-attachment: fixed;
  background-size: contain;
}

#gtco-features-3 .feature.feature-2 {
  z-index: 10;
  -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.25);
  background: -webkit-linear-gradient(
    top,
    rgba(75, 107, 245, 0.86) 0,
    rgba(208, 15, 247, 0.86) 100%
  );
  background-image: linear-gradient(
      to bottom,
      rgba(75, 107, 245, 0.86) 0,
      rgba(208, 15, 247, 0.86) 100%
    ),
    url(../images/fan-Image.jpg);
  background-attachment: fixed;
  background-size: contain;
}

#gtco-features-3 .service.feature-2 {
  z-index: 10;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
  background-image: url(../images/vive-min.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2 {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

#gtco-features-3 .feature.feature-2 .icon {
  background: #fff;
}

#gtco-features-3 .feature.feature-2 .feature-inner {
  top: -3em;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2 .feature-inner {
    top: 0;
  }
}

#gtco-features-3 .feature.feature-2:before {
  position: absolute;
  top: -50px;
  content: "";
  background: rgba(75, 107, 245, 0.86);
  height: 50px;
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2:before {
    display: none;
  }
}

#gtco-features-3 .feature.feature-2:after {
  position: absolute;
  bottom: -30px;
  content: "";
  background: rgba(208, 15, 247, 0.86);
  height: 30px;
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2:after {
    display: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

#gtco-features-3 .feature.feature-3 {
  z-index: 7;
  background-image: linear-gradient(
      to bottom,
      rgba(75, 107, 245, 0.86) 0,
      rgba(208, 15, 247, 0.86) 100%
    ),
    url(../images/fan-Image.jpg);
  background-size: contain;
  background-attachment: fixed;
}

#gtco-features-3 .feature.feature-3 .icon {
  background: #fff;
}

.gtco-flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
}

#gtco-portfolio .gtco-heading h2 {
  color: #fff;
}

#gtco-portfolio .gtco-heading p {
  color: rgba(255, 255, 255, 0.7);
}

#gtco-portfolio-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
}

#gtco-portfolio-list li {
  display: block;
  padding: 0;
  margin: 0 0 10px 1%;
  list-style: none;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li {
    margin-left: 0;
  }
}

#gtco-portfolio-list li a {
  min-height: 400px;
  padding: 2em;
  position: relative;
  width: 100%;
  display: block;
}

#gtco-portfolio-list li a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: 80;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#gtco-portfolio-list li a.color-1:before {
  background: rgba(55, 75, 84, 0.7);
}

#gtco-portfolio-list li a.color-1:hover:before {
  background: rgba(55, 75, 84, 0);
}

#gtco-portfolio-list li a.color-2:before {
  background: rgba(37, 190, 213, 0.7);
}

#gtco-portfolio-list li a.color-2:hover:before {
  background: rgba(37, 190, 213, 0);
}

#gtco-portfolio-list li a.color-3:before {
  background: rgba(239, 172, 147, 0.7);
}

#gtco-portfolio-list li a.color-3:hover:before {
  background: rgba(239, 172, 147, 0);
}

#gtco-portfolio-list li a.color-4:before {
  background: rgba(249, 17, 40, 0.7);
}

#gtco-portfolio-list li a.color-4:hover:before {
  background: rgba(249, 17, 40, 0);
}

#gtco-portfolio-list li a.color-5:before {
  background: rgba(252, 68, 40, 0.7);
}

#gtco-portfolio-list li a.color-5:hover:before {
  background: rgba(252, 68, 40, 0);
}

#gtco-portfolio-list li a.color-6:before {
  background: rgba(98, 177, 215, 0.7);
}

#gtco-portfolio-list li a.color-6:hover:before {
  background: rgba(98, 177, 215, 0);
}

#gtco-portfolio-list li a .case-studies-summary {
  width: auto;
  bottom: 2em;
  left: 2em;
  right: 2em;
  position: absolute;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}

#gtco-portfolio-list li a .case-studies-summary span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

#gtco-portfolio-list li a .case-studies-summary h2 {
  color: #fff;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary h2 {
    font-size: 20px;
  }
}

#gtco-portfolio-list li.two-third {
  width: 65.6%;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.two-third {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.two-third {
    width: 100%;
  }
}

#gtco-portfolio-list li.one-third {
  width: 32.3%;
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.one-third {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-third {
    width: 100%;
  }
}

#gtco-portfolio-list li.one-half {
  width: 49%;
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-half {
    width: 100%;
  }
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -39px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i,
.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
  color: #444;
}

.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}

.owl-carousel-fullwidth.fh5co-light-arrow
  .owl-controls
  .owl-nav
  .owl-next:hover
  i,
.owl-carousel-fullwidth.fh5co-light-arrow
  .owl-controls
  .owl-nav
  .owl-prev:hover
  i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: 0 0 !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(255, 255, 255, 0.5) !important;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i {
  background: rgba(255, 255, 255, 0.8) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #1f8fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: 0 0;
  border: 2px solid #1f8fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: 0 0;
  border: 2px solid #1f8fff;
}

.presentation {
  padding: 60px;
}

@media screen and (max-width: 768px) {
  .presentation {
    padding: 30px;
  }
}

@media screen and (max-width: 431px) {
  .presentation {
    padding: 0;
  }
}

#gtco-features {
  background-image: url(../images/about_bg_rotate.png);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.feature-center p {
  color: #ddd;
}

#gtco-sign {
  float: left;
  text-align: left;
}

#gtco-header.aktsia #gtco-sign {
  float: left;
  width: 100%;
}

#gtco-sign h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 10px #000;
  -webkit-text-shadow: 2px 2px 10px #000;
  -moz-text-shadow: 2px 2px 10px #000;
  -ms-text-shadow: 2px 2px 10px #000;
  -o-text-shadow: 2px 2px 10px #000;
}

#gtco-header.aktsia #gtco-sign h1 {
  font-size: 108px;
}

#gtco-header.aktsia #gtco-sign h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 10px #000;
  -webkit-text-shadow: 2px 2px 10px #000;
  -moz-text-shadow: 2px 2px 10px #000;
  -ms-text-shadow: 2px 2px 10px #000;
  -o-text-shadow: 2px 2px 10px #000;
}

#gtco-logo text-centre {
  text-align: center;
}

.image-logo {
  max-width: 240px;
}

@media screen and (max-width: 768px) {
  .gtco-flex {
    margin-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .gtco-flex {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .gtco-flex {
    margin-top: 0;
  }
}

#gtco-footer .gtco-widget p {
  color: #ddd;
}

.gtco-widget a {
  color: #439bf4;
}

@media screen and (max-width: 768px) {
  #gtco-sign {
    margin: 0;
  }
}

#navigation {
  margin-bottom: 19px;
}

#gtco-sign p {
  color: #ffffff;
  font-size: 24px;
}

.overlay-contacts {
  z-index: 1;
  padding-bottom: 52.6%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 80% 56px;
  opacity: 0.7;
}

.gtco-section h3 {
  color: #439bf4;
}

.gtco-social-icons li a i:hover {
  font-size: 38px;
  color: #fff;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.special-widget {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}

.gtco-nav-toggled {
  background-image: linear-gradient(65deg, #0074cb 0, #103f85 23%, #20093e 61%);
  -moz-background-image: linear-gradient(
    65deg,
    #0074cb 0,
    #103f85 23%,
    #20093e 61%
  );
  -webkit-background-image: linear-gradient(
    65deg,
    #0074cb 0,
    #103f85 23%,
    #20093e 61%
  );
  -ms-background-image: linear-gradient(
    65deg,
    #0074cb 0,
    #103f85 23%,
    #20093e 61%
  );
  position: fixed;
  top: 0;
  left: 0;
  animation-name: show_header;
  animation-duration: 0.5s;
  height: 95px;
  border-bottom: 1px solid #87ceeb;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -100px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.padding {
  padding-bottom: 40px !important;
  cursor: pointer;
}

.fr {
  display: inline;
  float: right;
}

@media screen and (max-width: 768px) {
  .fr {
    float: left;
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .gtco-nav-toggled {
    height: 100px;
  }
}

.info {
  color: #0ff;
  font-weight: 700;
}

#gtco-header-sertificate .price,
#gtco-features-3 .price {
  margin-top: 20px;
  font-weight: 400;
  font-size: 34px;
  color: #0ff;
  font-family: "Russo One", sans-serif;
}

@media screen and (max-width: 431px) {
}

#gtco-features-3 a.btn {
  margin-top: 10px;
  display: inline-block;
}

#gtco-header-sertificate .price span,
#gtco-features-3 .price span {
  font-size: 25px;
}

@media screen and (max-width: 431px) {
  #gtco-features-3 .price span,
  #gtco-features-3 .price {
    font-size: 20px;
  }
}

.sert-img {
  max-width: 100%;
  margin: 20px 0;
}

.item p {
  font-size: 15px;
  color: #0ff;
}

.item img {
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

#viaron {
  width: 100%;
  height: 700px;
}

#gtco-header {
  height: 100%;
  width: 100%;
  background-image: url(../images/home_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: left;
}

@supports (-webkit-touch-callout: none) {
  #gtco-header {
    background-attachment: scroll;
  }
}

#gtco-features-3 .gtco-container::after {
  content: " ";
  display: block;
  clear: both;
  height: 100%;
}

#gtco-form-happy,
#gtco-form-rent,
#gtco-form-time {
  display: inline-block;
  position: fixed;
  width: 550px;
  height: 500px;
  background-color: #fff;
  top: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  overflow: hidden;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  #gtco-form-happy,
  #gtco-form-rent,
  #gtco-form-time {
    width: 350px;
  }
}

@media screen and (max-height: 500px) {
  #gtco-form-happy,
  #gtco-form-rent,
  #gtco-form-time {
    height: 100%;
    overflow-y: scroll;
  }
}

.form {
  margin: 10px;
  border: 1px solid #000;
  height: 100%;
  padding: 5px;
}

#gtco-form-happy .form .input p,
#gtco-form-rent .form .input p,
#gtco-form-time .form .input p {
  margin: 20px 0 0 0;
  padding: 0 10px;
  color: #000;
}

@media screen and (max-width: 768px) {
  #gtco-form-happy .form .input p,
  #gtco-form-rent .form .input p,
  #gtco-form-time .form .input p {
    margin: 0;
    padding: 0;
  }
}

.form h3 {
  margin: 0;
  padding: 3px;
}

@media screen and (max-width: 768px) {
  .form h3 {
    font-size: 20px;
  }
}

form.form p {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  form.form p {
    font-size: 13px;
  }
}

.submit {
  margin-top: 10px;
}

.submit button {
  outline: 0;
  background: 0 0;
  border: 0;
}

.ui-spinner a.ui-spinner-button.ui-spinner-up {
  background: #000;
  right: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.ui-spinner a.ui-spinner-button.ui-spinner-up:before {
  content: "+";
  position: absolute;
  font-size: 40px;
  color: #fff;
  bottom: -15px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .ui-spinner a.ui-spinner-button.ui-spinner-up:before {
    font-size: 32px;
    bottom: -10px;
    left: 12px;
  }
}

.ui-spinner a.ui-spinner-button.ui-spinner-down {
  background: #000;
  left: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.ui-spinner a.ui-spinner-button.ui-spinner-down:before {
  content: "-";
  position: absolute;
  font-size: 40px;
  color: #fff;
  bottom: -12px;
  left: 13px;
}

@media screen and (max-width: 768px) {
  .ui-spinner a.ui-spinner-button.ui-spinner-down:before {
    font-size: 32px;
    bottom: -7px;
    left: 14px;
  }
}

.ui-spinner-input {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#spinner-happy,
#spinner-rent,
#spinner-time {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #spinner-happy,
  #spinner-rent,
  #spinner-time {
    width: 125px;
    margin: 0;
    padding: 3px;
  }
}

.trans {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .trans {
    position: inherit;
  }
}

.location a {
  font-family: "Open Sans", Arial, sans-serif;
}

.youtube {
  background-color: #000;
  margin-top: 50px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #87ceeb;
  border-radius: 10px 60px;
}

.youtube img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}

.youtube .play-button,
.youtube img {
  cursor: pointer;
}

.youtube .play-button,
.youtube .play-button:before,
.youtube iframe,
.youtube img {
  position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.time-play:first-child {
  border-right: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .time-play:first-child {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
}

.time-play h2 {
  margin: 0;
}

.time-play {
  color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(75, 107, 245, 0.86) 0,
    rgba(208, 15, 247, 0.86) 100%
  );
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.time-play .gtco-heading {
  margin: 0;
}

.time-play .gtco-heading h2::before {
  bottom: 10px;
}

.price-time p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.7;
}

.price-time {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-flow: column;
}

.price-time img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

.places p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.7;
}

.places h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#pricing {
  margin-top: 65px;
}

@media (max-width: 768px) {
  #pricing {
    margin-top: 0;
  }
}

.feature.feature-1 h4.info {
  font-family: "Russo One", sans-serif;
  font-weight: normal;
}

#constellationel {
  opacity: 0.7;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#gtco-price {
  background: url(../images/about_bg.png) no-repeat;
  background-size: contain;
  min-height: 500px;
  background-attachment: fixed;
  z-index: 10;
}

#gtco-features-3 {
  background: url(../images/about_bg_rotate.png) no-repeat;
  background-size: contain;
  min-height: 500px;
  background-attachment: fixed;
}

#gtco-games {
  background: url(../images/about_bg_rotate.png) no-repeat;
  background-size: contain;
  min-height: 500px;
  background-attachment: fixed;
  z-index: 10;
}

#document body {
  background-color: aqua;
}

#bron {
  position: fixed;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-1,
  #gtco-features-3 .feature.feature-2,
  #gtco-features-3 .feature.feature-3 {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#bron-vremeny-popup .mfp-close {
  color: #e568ff;
  font-size: 38px;
}

#bron-vremeny {
  z-index: 10;
}

#bron-vremeny iframe {
  z-index: 10;
  position: relative;
}

#contacts-maps {
  z-index: 10;
  position: relative;
}

#gtco-about {
  z-index: 10;
}

#gtco-footer {
  z-index: 10;
}

#bgndVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .gtco-cover.aktsia > .gtco-container {
    left: 0;
    transform: none;
    align-self: flex-start;
    top: 100px;
    z-index: 10;
  }

  .gtco-heading {
    margin-bottom: 2em;
  }

  #gtco-sign {
    text-align: center;
  }

  #gtco-header.aktsia #gtco-sign h1 {
    font-size: 88px;
    text-align: center;
  }

  #gtco-header.aktsia #gtco-sign h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    font-weight: 700;
  }

  #gtco-sign h1 {
    font-size: 28px;
  }

  #gtco-sign p {
    font-size: 24px;
    line-height: 1.2;
  }

  #gtco-header.aktsia #gtco-sign p {
    font-size: 18px;
    text-align: center;
  }

  .gtco-heading h2 {
    font-size: 24px;
  }

  .gtco-heading p {
    font-size: 18px;
    line-height: 1.2;
  }
}

.gtco-feedback {
  margin-top: 20px;
}

#gtco-features-3 .service {
  width: 25%;
  float: left;
  padding: 10px;
  position: relative;
  flex-flow: column;
  justify-content: space-between;
}

#gtco-features-3 .service [class*=" ti-"],
#gtco-features-3 .service [class^="ti-"] {
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .service [class*=" ti-"],
  #gtco-features-3 .service [class^="ti-"] {
    text-align: center;
  }
}

#gtco-features-3 .service p {
  color: #ddd;
}

#gtco-features-3 .service h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#gtco-features-3 .service.feature-1 {
  text-align: left;
}

#gtco-features-3 .service.feature-3 {
  text-align: right;
}

#gtco-features .row.box {
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(75, 107, 245, 0.86) 0,
    rgba(208, 15, 247, 0.86) 100%
  );
}

.vr-sets img {
  width: 100%;
}

.helmet-right {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.helmet-left {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.helmet-right p,
.helmet-left p {
  margin: 0;
}

#gtco-header.services {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.8) 0%,
      rgba(0, 0, 0, 0.65) 35%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../images/vr_experience_ecommerce_s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#gtco-header.aktsia {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/aktsia.jpg);
}

#gtco-header .gtco-container.services {
  position: relative;
  transform: none;
  left: 0;
}

.gtco-section.services p,
.gtco-section.services li {
  color: #95aff5;
}

.gtco-section.services h3 {
  font-size: 20px;
}

.gtco-section.services p {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .service,
  #gtco-features-3 .service.feature-2 {
    width: 100%;
  }

  #gtco-features-3 .service.feature-2 {
    height: 50vh;
    background-size: contain;
  }

  #gtco-features-3 .service.feature-3 {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .feature-center.reverse {
    text-align: justify;
    flex-direction: column-reverse;
  }

  .feature-center .helmet-right h3,
  .feature-center .helmet-left h3 {
    text-align: center;
  }

  .feature-center .helmet-right p,
  .feature-center .helmet-left p {
    text-align: justify;
  }

  .feature-center .helmet,
  .feature-center .helmet {
    margin-bottom: 2em;
  }
}

#gtco-features .vr-sets h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 56px;
  color: #95aff5;
}

@media screen and (max-width: 768px) {
  .helmet-right,
  .helmet-left {
    text-align: center;
  }
}

.d-flex {
  display: flex !important;
}
