@font-face {
    font-family: icomoon;
    src: url(../../fonts/icomoon/icomoon.eot?srf3rx);
    src: url(../../fonts/icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url(../../fonts/icomoon/icomoon.ttf?srf3rx) format("truetype"), url(../../fonts/icomoon/icomoon.woff?srf3rx) format("woff"), url(../../fonts/icomoon/icomoon.svg?srf3rx#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "Open Sans", Arial, sans-serif!important;
    font-weight: 400;
    font-size: 16px!important;
    line-height: 1.7!important;
    color: #777!important
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-image: -webkit-linear-gradient(65deg, #0074cb 0, #103f85 23%, #20093e 61%);
    background-image: -ms-linear-gradient(65deg, #0074cb 0, #103f85 23%, #20093e 61%)
}

.offcanvas #page {
    overflow: hidden;
    position: absolute
}

.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, .7);
    content: ""
}

a {
    color: #1f8fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

a:active,
a:focus,
a:hover {
    color: #1f8fff;
    outline: 0;
    text-decoration: none
}

p {
    margin-bottom: 20px
}

figure,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Droid Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0
}

::-webkit-selection {
    color: #fff;
    background: #1f8fff
}

::-moz-selection {
    color: #fff;
    background: #1f8fff
}

::selection {
    color: #fff;
    background: #1f8fff
}

.gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}

.gtco-nav {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 14px 0;
    z-index: 1001
}

@media screen and (max-width:768px) {
    .gtco-nav {
        padding: 10px 0
    }
}

.gtco-nav #gtco-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700
}

.gtco-nav #gtco-logo em {
    color: #1f8fff
}

.gtco-nav a {
    padding: 5px 10px;
    color: #fff
}

@media screen and (max-width:768px) {
    .gtco-nav .menu-1, .gtco-nav .menu-2 {
        display: none
    }
}

.gtco-nav ul {
    padding: 0;
    margin: 2px 0 0 0
}

.gtco-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline
}

.gtco-nav ul li a {
    font-size: 18px;
    padding: 10px;
    color: #95aff5;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.gtco-nav ul li a:active,
.gtco-nav ul li a:focus,
.gtco-nav ul li a:hover {
    color: #fff
}

.gtco-nav ul li.has-dropdown {
    position: relative
}

.gtco-nav ul li.has-dropdown .dropdown {
    width: 130px;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .15);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #fff;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s
}

.gtco-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px
}

.gtco-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px
}

.gtco-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0
}

.gtco-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #439bf4;
    line-height: 1.2;
    text-transform: none;
    font-size: 14px
}

.gtco-nav ul li.has-dropdown .dropdown li a:hover {
    color: #000
}

.gtco-nav ul li.has-dropdown .dropdown li.active>a {
    color: #000!important
}

.gtco-nav ul li.has-dropdown:focus a,
.gtco-nav ul li.has-dropdown:hover a {
    color: #fff
}

.gtco-nav ul li.btn-cta a {
    color: #000
}

.gtco-nav ul li.btn-cta a span {
    background: #fff;
    padding: 4px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px
}

.gtco-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0 14px 20px -9px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 14px 20px -9px rgba(0, 0, 0, .75);
    box-shadow: 0 14px 20px -9px rgba(0, 0, 0, .75)
}

.gtco-nav ul li.active>a {
    color: #fff!important
}

@media screen and (max-width:480px) {
    #gtco-header .text-left {
        text-align: center!important
    }
}

@media screen and (max-width:480px) {
    #gtco-header .btn {
        display: block;
        width: 100%
    }
}

#gtco-counter,
#gtco-header,
.gtco-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative
}

.gtco-bg {
    background-position: center center;
    width: 100%;
    float: left;
    position: relative
}

.gtco-video {
    height: 450px;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px
}

.gtco-video.gtco-video-sm {
    height: 250px
}

.gtco-video a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.gtco-video a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px
}

.gtco-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.gtco-video:hover .overlay {
    background: rgba(0, 0, 0, .7)
}

.gtco-video:hover a {
    position: relative;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.gtco-cover {
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%
}

.gtco-cover a {
    color: #dfefff
}

.gtco-cover a:hover {
    color: #fff
}

.gtco-cover .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url(../../images/boy_1.svg);
    background-repeat: no-repeat;
    background-position: 130% 56px;
    opacity: .7
}

.gtco-cover>.gtco-container {
    position: relative;
    z-index: 10
}

.gtco-cover .display-t,
.gtco-cover .display-tc {
    height: 700px;
    display: table;
    width: 100%
}

.gtco-cover.gtco-cover-sm {
    height: 600px
}

@media screen and (max-width:768px) {
    .gtco-cover.gtco-cover-sm {
        height: 400px
    }
}

.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
    height: 600px;
    display: table;
    width: 100%
}

@media screen and (max-width:768px) {
    .gtco-cover.gtco-cover-sm .display-t, .gtco-cover.gtco-cover-sm .display-tc {
        height: 400px
    }
}

.gtco-cover.gtco-cover-xs {
    height: 500px
}

@media screen and (max-width:768px) {
    .gtco-cover.gtco-cover-xs {
        height: inherit!important;
        padding: 3em 0
    }
}

.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
    height: 500px;
    display: table;
    width: 100%
}

@media screen and (max-width:768px) {
    .gtco-cover.gtco-cover-xs .display-t, .gtco-cover.gtco-cover-xs .display-tc {
        padding: 3em 0;
        height: inherit!important
    }
}

.gtco-staff {
    text-align: center;
    margin-bottom: 7em;
    float: left;
    width: 100%
}

@media screen and (max-width:768px) {
    .gtco-staff {
        margin-bottom: 3em
    }
}

.gtco-staff img {
    width: 100px;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.gtco-staff h3 {
    font-size: 24px;
    margin-bottom: 5px
}

.gtco-staff p {
    margin-bottom: 30px
}

.gtco-staff .role {
    color: #bfbfbf;
    margin-bottom: 30px;
    font-weight: 400;
    display: block
}

.gtco-social-icons {
    margin: 0;
    padding: 0
}

.gtco-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline
}

.gtco-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #439bf4;
    padding-left: 10px;
    padding-right: 10px
}

.gtco-social-icons li a i {
    font-size: 35px
}

.gtco-contact-info,
.gtco-location-info {
    margin-bottom: 30px;
    float: left;
    position: relative
}

.gtco-contact-info ul,
.gtco-location-info ul {
    padding: 0;
    margin: 0
}

.gtco-contact-info a,
.gtco-location-info a {
    color: #439bf4;
    font-size: 18px;
    letter-spacing: .5px
}

.gtco-contact-info ul li,
.gtco-location-info ul li {
    padding: 0 0 0 50px;
    margin: 0 0 30px 0;
    list-style: none;
    position: relative;
    color: #ccc
}

.gtco-contact-info ul li:before {
    color: #ccc;
    position: absolute;
    left: 0;
    top: .05em;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.gtco-location-info ul li:before {
    color: #ccc;
    position: absolute;
    left: 0;
    top: .05em;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.gtco-contact-info ul li.address:before {
    font-size: 30px;
    content: "\e9d1"
}

.gtco-contact-info ul li.phone:before {
    font-size: 23px;
    content: "\e9f4"
}

.gtco-contact-info ul li.email:before {
    font-size: 23px;
    content: "\e9da"
}

.gtco-contact-info ul li.url:before {
    font-size: 23px;
    content: "\e9af"
}

.gtco-location-info ul li.ti-location-pin:before {
    font-size: 23px
}

form label {
    font-weight: 400!important
}

#gtco-counter .display-tc,
#gtco-header .display-tc,
.gtco-cover .display-tc {
    display: table-cell!important;
    vertical-align: middle
}

#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
#gtco-header .title h1,
#gtco-header .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
    margin: 0;
    padding: 0;
    color: #fff
}

#gtco-counter .display-tc h1,
#gtco-header .title h1,
.gtco-cover .display-tc h1 {
    margin-bottom: 0;
    font-size: 66px;
    line-height: 1.2;
    font-family: Russo One;
    text-shadow: 2px 2px 5px black;
}

@media screen and (max-width:768px) {
    #gtco-counter .display-tc h1, #gtco-header .title h1, .gtco-cover .display-tc h1 {
        font-size: 34px;
        line-height: 1.2;
        margin-bottom: 10px
    }
}

#gtco-counter .display-tc h2,
#gtco-header .display-tc h2,
.gtco-cover .display-tc h2 {
    font-size: 30px;
    line-height: 1.5
}

@media screen and (max-width:768px) {
    #gtco-about h2, #gtco-counter h2, #gtco-features h2, #gtco-faq h2, #gtco-games h2, #gtco-footer h2, #gtco-header .display-tc h2, .gtco-cover .display-tc h2  {
        font-size: 28px
    }
}

#gtco-counter {
    text-align: center
}

#gtco-counter .counter {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 100;
    display: block
}

#gtco-counter .counter-label {
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .5);
    letter-spacing: .1em
}

@media screen and (max-width:768px) {
    #gtco-counter .feature-center {
        margin-bottom: 50px
    }
}

#gtco-counter .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
    background: 0 0!important;
    border: none!important
}

#gtco-counter .icon i {
    height: 70px
}

#gtco-counter .icon i:before {
    color: #ccc;
    display: block;
    text-align: center;
    padding-top: 8px
}

#gtco-about,
#gtco-faq,
#gtco-features,
#gtco-features-2,
#gtco-features-3,
#gtco-footer,
#gtco-games,
#gtco-products,
#gtco-services,
#gtco-subscribe,
.gtco-section {
    padding: 6em 0;
    clear: both;
    position: relative
}

@media screen and (max-width:768px) {
    #gtco-about, #gtco-features, #gtco-features-2, #gtco-games, #gtco-products, #gtco-services, #gtco-subscribe, .gtco-section {
        padding: 3em 0
    }
}

#gtco-about.border-bottom,
#gtco-features-2.border-bottom,
#gtco-features.border-bottom,
#gtco-footer.border-bottom,
#gtco-footer.border-bottom,
#gtco-games.border-bottom,
#gtco-products.border-bottom,
#gtco-services.border-bottom,
#gtco-subscribe.border-bottom,
.gtco-section.border-bottom {
    border-bottom: 1px solid #d9d9d9
}

#gtco-games p {
    margin: 0
}

#gtco-features-2 {
    background: #efefef;
    position: relative;
    float: left;
    width: 100%
}

.feature-center {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 100%;
}

.feature-center .icon {
    width: 90px;
    height: 90px;
    border: 1px solid #fff;
    display: table;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.feature-center .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    font-size: 50px;
    line-height: 50px;
    color: #1f8fff
}

.feature-center h3,
.feature-center p {
    margin-bottom: 30px
}

.feature-center h3 {
    font-size: 18px;
    color: #1f8fff;
    position: relative
}

.feature-left {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    position: relative
}

.feature-left .icon {
    float: left;
    text-align: center;
    width: 15%
}

.feature-left .icon i {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    color: #fff
}

.feature-left .feature-copy {
    float: right;
    width: 80%
}

.feature-left .feature-copy h3 {
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 10px
}

.gtco-heading.gtco-heading-sm {
    margin-bottom: 2em
}

#gtco-games .gtco-heading{
    margin-bottom: 2em
}

.gtco-heading h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding-bottom: 10px
}

.gtco-heading h2:before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 50px;
    margin-left: -25px;
    height: 2px;
    left: 50%;
    background: #1f8fff
}

.gtco-heading p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff
}

#gtco-products .testimony-slide {
    text-align: center
}

#gtco-products .testimony-slide span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: block
}

#gtco-products .testimony-slide figure {
    margin-bottom: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline
}

#gtco-products .testimony-slide figure img {
    width: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

#gtco-products .testimony-slide blockquote {
    border: none;
    margin: 30px auto;
    width: 50%;
    position: relative;
    padding: 0
}

@media screen and (max-width:992px) {
    #gtco-products .testimony-slide blockquote {
        width: 100%
    }
}

#gtco-products .arrow-thumb {
    position: absolute;
    top: 40%;
    display: block;
    width: 100%
}

#gtco-products .arrow-thumb a {
    font-size: 32px;
    color: #dadada
}

#gtco-products .arrow-thumb a:active,
#gtco-products .arrow-thumb a:focus,
#gtco-products .arrow-thumb a:hover {
    text-decoration: none
}

.gtco-tabs .gtco-tab-nav {
    clear: both;
    margin: 0 0 3em 0;
    padding: 3px;
    float: left;
    width: 100%;
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px
}

.gtco-tabs .gtco-tab-nav li {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline
}

.gtco-tabs .gtco-tab-nav li .icon {
    font-size: 30px
}

.gtco-tabs .gtco-tab-nav li a {
    padding: 20px;
    width: 100%;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #b3b3b3
}

.gtco-tabs .gtco-tab-nav li a:hover {
    color: #4d4d4d
}

.gtco-tabs .gtco-tab-nav li.active a {
    background: #fff;
    color: #fff
}

.gtco-tabs .gtco-tab-content-wrap {
    clear: both;
    position: relative;
    top: 70px
}

.gtco-tabs .gtco-tab-content-wrap .tab-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden
}

.gtco-tabs .gtco-tab-content-wrap .tab-content.active {
    opacity: 1;
    visibility: visible
}

.gtco-tabs .icon-xlg {
    font-size: 400px;
    margin-bottom: 30px;
    text-align: center
}

@media screen and (max-width:768px) {
    .gtco-tabs .icon-xlg {
        font-size: 300px
    }
}

@media screen and (max-width:480px) {
    .gtco-tabs .icon-xlg {
        font-size: 200px
    }
}

.gtco-tabs .icon-xlg i {
    color: #fff
}

#gtco-subscribe {
    background: #303841
}

#gtco-subscribe .form-control {
    background: 0 0;
    color: #fff;
    font-size: 16px!important;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, .2)!important;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#gtco-subscribe .form-control:focus {
    background: 0 0;
    border: 2px solid rgba(255, 255, 255, .8)!important
}

#gtco-subscribe .form-control::-webkit-input-placeholder {
    color: #fff
}

#gtco-subscribe .form-control:-moz-placeholder {
    color: #fff
}

#gtco-subscribe .form-control::-moz-placeholder {
    color: #fff
}

#gtco-subscribe .form-control:-ms-input-placeholder {
    color: #fff
}

#gtco-subscribe .btn {
    height: 54px;
    border: none!important;
    background: #fff;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px
}

#gtco-subscribe .form-inline .form-group {
    width: 100%!important;
    margin-bottom: 10px
}

#gtco-subscribe .form-inline .form-group .form-control {
    width: 100%
}

#gtco-subscribe .gtco-heading {
    margin-bottom: 30px
}

#gtco-subscribe .gtco-heading h2 {
    color: #fff
}

#gtco-subscribe .gtco-heading p {
    color: rgba(255, 255, 255, .5)
}

#gtco-footer .gtco-footer-links {
    padding: 0;
    margin: 0 0 20px 0;
    float: left;
    width: 100%
}

#gtco-footer .gtco-footer-links li {
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
    line-height: 1
}

#gtco-footer .gtco-footer-links li a {
    text-decoration: none
}

#gtco-footer .gtco-footer-links li a:hover {
    text-decoration: underline
}

#gtco-footer .gtco-widget,
#gtco-footer .gtco-widget,
#gtco-footer .gtco-widget {
    margin-bottom: 30px
}

#gtco-footer .gtco-widget h3,
#gtco-footer .gtco-widget h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff
}

#gtco-footer .gtco-widget .gtco-quick-contact,
#gtco-footer .gtco-widget .gtco-quick-contact {
    padding: 0;
    margin: 0
}

#gtco-footer .gtco-widget .gtco-quick-contact li,
#gtco-footer .gtco-widget .gtco-quick-contact li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none
}


/*
#gtco-footer .gtco-widget .gtco-quick-contact li i {
    width: 30px;
    float: left;
    font-size: 18px;
    position: relative;
    margin-top: 4px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    display: inline
}
*/

@media screen and (max-width:768px) {
    #gtco-footer .copyright .pull-left, #gtco-footer .copyright .pull-right {
        float: none!important;
        text-align: center
    }
}

#gtco-footer .copyright .block {
    display: block
}

#gtco-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    height: 1000px;
    background: #2e6dd4;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 60px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#gtco-offcanvas::before {
    content: url(../../images/logo-viaron.svg);
    margin-right: 20px
}

@media screen and (max-width:768px) {
    #gtco-offcanvas {
        display: block
    }
}

.offcanvas #gtco-offcanvas {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

#gtco-offcanvas a {
    color: #fff;
    border-bottom: 1px solid #b8ccf3;
    display: block
}

#gtco-offcanvas a:hover {
    color: rgba(255, 255, 255, .8)
}

#gtco-offcanvas ul {
    padding: 0;
    margin: 0
}

#gtco-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none
}

#gtco-offcanvas ul li>ul {
    padding-left: 20px;
    display: none
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a {
    display: block;
    position: relative
}

#gtco-offcanvas ul li.offcanvas-has-dropdown>a:after {
    position: absolute;
    right: 0;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e921";
    font-size: 25px;
    color: rgba(255, 255, 255, .7);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.dropdown li a {
    border-right: 1px solid #fff;
    margin: 5px 0 0 0;
    padding: 5px!important
}

.uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.gototop.active {
    opacity: 1;
    visibility: visible
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(255, 255, 255, .7);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle
}

.gototop a:active,
.gototop a:focus,
.gototop a:hover {
    text-decoration: none;
    outline: 0
}

.gtco-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none
}

.gtco-nav-toggle.active i::after,
.gtco-nav-toggle.active i::before {
    background: #444
}

.gtco-nav-toggle:active,
.gtco-nav-toggle:focus,
.gtco-nav-toggle:hover {
    outline: 0;
    border-bottom: none!important
}

.gtco-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out
}

.gtco-nav-toggle i::after,
.gtco-nav-toggle i::before {
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    transition: all .2s ease-out
}

.gtco-nav-toggle.gtco-nav-white>i {
    color: #fff;
    background: #fff
}

.gtco-nav-toggle.gtco-nav-white>i::after,
.gtco-nav-toggle.gtco-nav-white>i::before {
    background: #fff
}

.gtco-nav-toggle i::before {
    top: -7px
}

.gtco-nav-toggle i::after {
    bottom: -7px
}

.gtco-nav-toggle:hover i::before {
    top: -10px
}

.gtco-nav-toggle:hover i::after {
    bottom: -10px
}

.gtco-nav-toggle.active i {
    background: 0 0
}

.gtco-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg)
}

.gtco-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg)
}

.gtco-nav-toggle {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none!important
}

@media screen and (max-width:768px) {
    .gtco-nav-toggle {
        display: block
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Droid Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 8px 30px
}

.btn.btn-md {
    padding: 8px 20px!important
}

.btn.btn-lg {
    padding: 18px 36px!important
}

.btn:active,
.btn:focus,
.btn:hover {
    box-shadow: none!important;
    outline: 0!important
}

.btn-primary {
    color: #fff;
    border: 2px solid #439bf4!important
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background: #439bf4!important;
    border-color: #fff!important
}

.btn-primary.btn-outline {
    background: 0 0;
    color: #fff;
    border: 2px solid #fff
}

.btn-primary.btn-outline:active,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:hover {
    background: #fff;
    color: #fff
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c
}

.btn-success:active,
.btn-success:focus,
.btn-success:hover {
    background: #4cae4c!important;
    border-color: #4cae4c!important
}

.btn-success.btn-outline {
    background: 0 0;
    color: #5cb85c;
    border: 2px solid #5cb85c
}

.btn-success.btn-outline:active,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:hover {
    background: #5cb85c;
    color: #fff
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de
}

.btn-info:active,
.btn-info:focus,
.btn-info:hover {
    background: #46b8da!important;
    border-color: #46b8da!important
}

.btn-info.btn-outline {
    background: 0 0;
    color: #5bc0de;
    border: 2px solid #5bc0de
}

.btn-info.btn-outline:active,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:hover {
    background: #5bc0de;
    color: #fff
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e
}

.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
    background: #eea236!important;
    border-color: #eea236!important
}

.btn-warning.btn-outline {
    background: 0 0;
    color: #f0ad4e;
    border: 2px solid #f0ad4e
}

.btn-warning.btn-outline:active,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:hover {
    background: #f0ad4e;
    color: #fff
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover {
    background: #d43f3a!important;
    border-color: #d43f3a!important
}

.btn-danger.btn-outline {
    background: 0 0;
    color: #d9534f;
    border: 2px solid #d9534f
}

.btn-danger.btn-outline:active,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:hover {
    background: #d9534f;
    color: #fff
}

.btn-white {
    background: #fff;
    color: #000;
    border: 2px solid #fff
}

.btn-white:active,
.btn-white:focus,
.btn-white:hover {
    color: #000;
    background: #f2f2f2!important;
    border-color: #f2f2f2!important
}

.btn-white.btn-outline {
    color: #fff;
    border: 2px solid #fff
}

.btn-white.btn-outline:active,
.btn-white.btn-outline:focus,
.btn-white.btn-outline:hover {
    background: #fff;
    color: #000;
    border: 2px solid #fff
}

.btn-outline {
    background: 0 0;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.btn-outline:active,
.btn-outline:focus,
.btn-outline:hover {
    box-shadow: none
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.btn.with-arrow:hover {
    padding-right: 50px
}

.btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1
}

.form-control {
    box-shadow: none;
    background: 0 0;
    border: 2px solid rgba(146, 174, 245, .5);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
    color: #fff
}

.form-control:active,
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #fff
}

.row-pb-md {
    padding-bottom: 4em!important
}

.row-pb-sm {
    padding-bottom: 2em!important
}

.gtco-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../images/loader.gif) center no-repeat #fff
}

.js .animate-box {
    opacity: 0
}

@media screen and (max-width:768px) {
    .gtco-nav .gtco-contact {
        text-align: left!important;
        margin: 5px 0
    }
}

.gtco-nav .gtco-contact ul {
    padding: 0;
    margin: 0 0 10px 0
}

.gtco-nav .gtco-contact ul li {
    padding: 0;
    margin: 0
}

.gtco-nav .gtco-contact ul li a {
    font-size: 16px;
    font-weight: 700!important;
    margin-left: 0
}

.gtco-nav .gtco-contact ul li a i {
    color: #439bf4
}

.gtco-nav .gtco-contact ul li a:hover i {
    color: #fff
}

#gtco-features-3 .feature {
    width: 33.33%;
    float: left;
    padding: 70px 10px;
    position: relative;
    text-align: center;
    margin-top: 9%
}

@media screen and (max-width:768px) {
    #gtco-features-3 .feature {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 0;
        padding: 30px
    }
}

#gtco-features-3 .feature h3,
.feature-sertificate h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase
}

#gtco-features-3 .feature p {
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    line-height: 1.7
}

#gtco-features-3 .feature .icon {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto 10px auto;
    position: relative;
    background: #fff;
    top: -3em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

#gtco-features-3 .feature .icon i:before {
    display: block;
    text-align: center;
    margin-left: 3px
}

#gtco-features-3 .feature.feature-1 {
    z-index: 7;
    background: -webkit-linear-gradient(top, rgba(75, 107, 245, .86) 0, rgba(208, 15, 247, .86) 100%);
    background-image: linear-gradient(to bottom, rgba(75, 107, 245, .86) 0, rgba(208, 15, 247, .86) 100%);
    background-attachment: fixed;
    background-size: cover;
}

#gtco-features-3 .feature.feature-2 {
    bottom: 0;
    z-index: 10;
    -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 30px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, .25);
    background: -webkit-linear-gradient(top, rgba(75, 107, 245, .86) 0, rgba(208, 15, 247, .86) 100%);
    background-image: linear-gradient(to bottom, rgba(75, 107, 245, .86) 0, rgba(208, 15, 247, .86) 100%);
    background-attachment: fixed;
    background-size: cover
}

@media screen and (max-width:768px) {
    #gtco-features-3 .feature.feature-2 {
        -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important
    }
}

#gtco-features-3 .feature.feature-2 .icon {
    background: #fff
}

#gtco-features-3 .feature.feature-2 .feature-inner {
    top: -3em;
    position: relative
}

@media screen and (max-width:768px) {
    #gtco-features-3 .feature.feature-2 .feature-inner {
        top: 0
    }
}

#gtco-features-3 .feature.feature-2:before {
    position: absolute;
    top: -50px;
    content: "";
    background: rgba(75, 107, 245, .86);
    height: 50px;
    width: 100%;
    left: 0
}

@media screen and (max-width:768px) {
    #gtco-features-3 .feature.feature-2:before {
        display: none
    }
}

#gtco-features-3 .feature.feature-2:after {
    position: absolute;
    bottom: -30px;
    content: "";
    background: rgba(208, 15, 247, .86);
    height: 30px;
    width: 100%;
    left: 0
}

@media screen and (max-width:768px) {
    #gtco-features-3 .feature.feature-2:after {
        display: none;
        -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important
    }
}

#gtco-features-3 .feature.feature-3 {
    z-index: 7;
    background: -webkit-linear-gradient(top, rgba(75, 107, 245, .86) 0, rgba(208, 15, 247, .86) 100%);
    background-image: linear-gradient(to bottom, rgba(75, 107, 245, .86) 0, rgba(208, 15, 247, .86) 100%);
    background-attachment: fixed;
    background-size: cover;
}

#gtco-features-3 .feature.feature-3 .icon {
    background: #fff
}

.gtco-flex {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left
}

#gtco-portfolio {
    padding: 7em 0;
    background: url(../../images/create_play_bg.jpg) no-repeat;
    background-size: cover;
    min-height: 500px
}

@media screen and (max-width:768px) {
    #gtco-portfolio {
        padding: 3em 0
    }
}

#gtco-portfolio .gtco-heading h2 {
    color: #fff
}

#gtco-portfolio .gtco-heading p {
    color: rgba(255, 255, 255, .7)
}

#gtco-portfolio-list {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%
}

#gtco-portfolio-list li {
    display: block;
    padding: 0;
    margin: 0 0 10px 1%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative
}

@media screen and (max-width:480px) {
    #gtco-portfolio-list li {
        margin-left: 0
    }
}

#gtco-portfolio-list li a {
    min-height: 400px;
    padding: 2em;
    position: relative;
    width: 100%;
    display: block
}

#gtco-portfolio-list li a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 80;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#gtco-portfolio-list li a.color-1:before {
    background: rgba(55, 75, 84, .7)
}

#gtco-portfolio-list li a.color-1:hover:before {
    background: rgba(55, 75, 84, 0)
}

#gtco-portfolio-list li a.color-2:before {
    background: rgba(37, 190, 213, .7)
}

#gtco-portfolio-list li a.color-2:hover:before {
    background: rgba(37, 190, 213, 0)
}

#gtco-portfolio-list li a.color-3:before {
    background: rgba(239, 172, 147, .7)
}

#gtco-portfolio-list li a.color-3:hover:before {
    background: rgba(239, 172, 147, 0)
}

#gtco-portfolio-list li a.color-4:before {
    background: rgba(249, 17, 40, .7)
}

#gtco-portfolio-list li a.color-4:hover:before {
    background: rgba(249, 17, 40, 0)
}

#gtco-portfolio-list li a.color-5:before {
    background: rgba(252, 68, 40, .7)
}

#gtco-portfolio-list li a.color-5:hover:before {
    background: rgba(252, 68, 40, 0)
}

#gtco-portfolio-list li a.color-6:before {
    background: rgba(98, 177, 215, .7)
}

#gtco-portfolio-list li a.color-6:hover:before {
    background: rgba(98, 177, 215, 0)
}

#gtco-portfolio-list li a .case-studies-summary {
    width: auto;
    bottom: 2em;
    left: 2em;
    right: 2em;
    position: absolute;
    z-index: 100
}

@media screen and (max-width:768px) {
    #gtco-portfolio-list li a .case-studies-summary {
        bottom: 1em;
        left: 1em;
        right: 1em
    }
}

#gtco-portfolio-list li a .case-studies-summary span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    color: rgba(255, 255, 255, .7)
}

#gtco-portfolio-list li a .case-studies-summary h2 {
    color: #fff;
    margin-bottom: 0
}

@media screen and (max-width:768px) {
    #gtco-portfolio-list li a .case-studies-summary h2 {
        font-size: 20px
    }
}

#gtco-portfolio-list li.two-third {
    width: 65.6%
}

@media screen and (max-width:768px) {
    #gtco-portfolio-list li.two-third {
        width: 49%
    }
}

@media screen and (max-width:480px) {
    #gtco-portfolio-list li.two-third {
        width: 100%
    }
}

#gtco-portfolio-list li.one-third {
    width: 32.3%
}

@media screen and (max-width:768px) {
    #gtco-portfolio-list li.one-third {
        width: 49%
    }
}

@media screen and (max-width:480px) {
    #gtco-portfolio-list li.one-third {
        width: 100%
    }
}

#gtco-portfolio-list li.one-half {
    width: 49%
}

@media screen and (max-width:480px) {
    #gtco-portfolio-list li.one-half {
        width: 100%
    }
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
    margin-top: 0
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 50%;
    margin-top: -39px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: 24%
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 20px
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
    margin-right: -10px
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 20px
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
    margin-left: -10px
}

.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i,
.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
    color: #444
}

.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
    color: #000
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
    color: #fff
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
    color: #fff
}

@media screen and (max-width:768px) {
    .owl-theme .owl-controls .owl-nav {
        display: none
    }
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    background: 0 0!important
}

.owl-theme .owl-controls .owl-nav [class*=owl-] i {
    font-size: 24px;
    background: rgba(255, 255, 255, .5)!important;
    padding: 12px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:focus i,
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover i {
    background: rgba(255, 255, 255, .8)!important
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
    bottom: 0;
    margin-bottom: -2.5em
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #1f8fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border: 2px solid transparent
}

.owl-theme .owl-dots .owl-dot span:hover {
    background: 0 0;
    border: 2px solid #1f8fff
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: 0 0;
    border: 2px solid #1f8fff
}

.presentation {
    padding: 60px
}

@media screen and (max-width:768px) {
    .presentation {
        padding: 30px;
    }
}

@media screen and (max-width:431px) {
    .presentation {
        padding: 0
    }
}

#gtco-features {
    background-image: url(../../images/about_bg_rotate.png)
}

.feature-center p {
    color: #ddd
}

#gtco-sign h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px 10px #000;
    -webkit-text-shadow: 2px 2px 10px #000;
    -moz-text-shadow: 2px 2px 10px #000;
    -ms-text-shadow: 2px 2px 10px #000;
    -o-text-shadow: 2px 2px 10px #000
}

#gtco-logo text-centre {
    text-align: center
}

.image-logo {
    max-width: 240px
}

@media screen and (max-width:768px) {
    .gtco-flex {
        margin-top: 90px
    }
}

@media screen and (max-width:600px) {
    .gtco-flex {
        margin-top: 40px
    }
}

@media screen and (max-width:450px) {
    .gtco-flex {
        margin-top: 0
    }
}

#gtco-footer .gtco-widget p {
    color: #ddd
}

.gtco-widget a {
    color: #439bf4
}

#gtco-sign {
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0
}

@media screen and (max-width:768px) {
    #gtco-sign {
        margin: 0;
    }
}

#navigation {
    margin-bottom: 19px
}

#gtco-sign p {
    color: #95aff5;
    font-size: 18px
}

.overlay-contacts {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url(../../images/boy_1.svg);
    background-repeat: no-repeat;
    background-position: 80% 56px;
    opacity: .7
}

.gtco-section h3 {
    color: #439bf4
}

.gtco-social-icons li a i:hover {
    font-size: 38px;
    color: #fff
}

.player {
    border: 1px solid #95aff5;
    box-shadow: 6px 3px 20px #000;
    border-radius: 10px 40px 10px 40px;
    -moz-border-radius: 10px 40px 10px 40px;
    -moz-box-shadow: 6px 3px 20px #000;
    -webkit-border-radius: 10px 40px 10px 40px;
    -webkit-box-shadow: 6px 3px 20px #000;
    -ms-border-radius: 10px 40px 10px 40px;
    -ms-box-shadow: 6px 3px 20px #000;
    -o-border-radius: 10px 40px 10px 40px;
    -o-box-shadow: 6px 3px 20px #000
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none
}

.special-widget {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px
}

.gtco-nav-toggled {
    background-image: linear-gradient(65deg, #0074cb 0, #103f85 23%, #20093e 61%);
    -moz-background-image: linear-gradient(65deg, #0074cb 0, #103f85 23%, #20093e 61%);
    -webkit-background-image: linear-gradient(65deg, #0074cb 0, #103f85 23%, #20093e 61%);
    -ms-background-image: linear-gradient(65deg, #0074cb 0, #103f85 23%, #20093e 61%);
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: .5s;
    height: 95px;
    border-bottom: 1px solid #87ceeb
}

@keyframes show_header {
    0% {
        opacity: 0;
        top: -100px
    }
    100% {
        opacity: 1;
        top: 0
    }
}

.padding {
    padding-bottom: 40px!important;
    cursor: pointer
}

.fr {
    display: inline;
    float: right
}

@media screen and (max-width:768px) {
    .fr {
        float: left;
        padding-left: 15px
    }
}

@media screen and (max-width:768px) {
    .gtco-nav-toggled {
        height: 100px
    }
}

.info {
    color: #0ff;
    font-weight: 700
}

#gtco-header-sertificate .price,
#gtco-features-3 .price {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 40px;
    color: #0ff;
    font-family: 'Russo One', sans-serif;
    border: 1px solid ;
    border-radius: 10px;
    background-color: rgba(3, 105, 189, 0.3);
}

.price p{
    margin: 10px 0 0;
}

@media screen and (max-width:431px) {}

#gtco-features-3 a.btn {
    margin-top: 10px;
    display: inline-block
}

#gtco-header-sertificate .price span,
#gtco-features-3 .price span {
    font-size: 25px
}

@media screen and (max-width:431px) {
    #gtco-features-3 .price span {
        font-size: 20px
    }
}

.sert-img {
    max-width: 100%;
    margin: 20px 0
}

.item p {
    font-size: 15px;
    color: #0ff
}

.item img {
    border-radius: 6px
}

@media screen and (max-width:768px) {
    .item {
        padding: 20px
    }
}

@media screen and (max-width:768px) {
    h2 {
        font-size: 28px
    }
}

#viaron {
    width: 100%;
    height: 420px
}

#gtco-header {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    background-size: cover;
    background-attachment: fixed;
}

@supports (-webkit-touch-callout: none) {
   #gtco-header {
        background-attachment: scroll;
    }
}

#gtco-features-3 .gtco-container::after {
    content: ' ';
    display: block;
    clear: both;
    height: 100%
}

#hb-form-kubometr,
#hb-form-karavan{
    display: inline-block;
    position: fixed;
    width: 550px;
    height: 500px;
    background-color: #fff;
    top: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    overflow: hidden;
    border-radius: 2px
}

@media screen and (max-width: 768px) {
    #hb-form-kubometr,
    #hb-form-karavan {
        width: 350px;
    }
}

@media screen and (max-height: 500px) {
    #hb-form-kubometr,
    #hb-from-karavan {
        height: 100%;
        overflow-y: scroll;
    }
}

.form {
    margin: 10px;
    border: 1px solid #000;
    height: 100%;
    padding: 5px
}

#hb-form-kubometr .form .input p,
#hb-form-karavan .form .input p{
    margin: 20px 0 0 0;
    padding: 0 10px;
    color: #000
}

@media screen and (max-width:768px) {
    #hb-form-kubometr .form .input p,
    #hb-form-karavan .form .input p {
        margin: 0;
        padding: 0
    }
}

.form h3 {
    margin: 0;
    padding: 3px
}

@media screen and (max-width:768px) {
    .form h3 {
        font-size: 20px
    }
}

form.form p {
    font-size: 15px
}

@media screen and (max-width:768px) {
    form.form p {
        font-size: 13px
    }
}

.submit {
    margin-top: 10px
}

.submit button {
    outline: 0;
    background: 0 0;
    border: 0
}

.ui-spinner a.ui-spinner-button.ui-spinner-up {
    background: #000;
    right: 0;
    width: 40px;
    height: 100%;
    cursor: pointer
}

.ui-spinner a.ui-spinner-button.ui-spinner-up:before {
    content: "+";
    position: absolute;
    font-size: 40px;
    color: #fff;
    bottom: -15px;
    left: 10px
}

@media screen and (max-width:768px) {
    .ui-spinner a.ui-spinner-button.ui-spinner-up:before {
        font-size: 32px;
        bottom: -10px;
        left: 12px
    }
}

.ui-spinner a.ui-spinner-button.ui-spinner-down {
    background: #000;
    left: 0;
    width: 40px;
    height: 100%;
    cursor: pointer
}

.ui-spinner a.ui-spinner-button.ui-spinner-down:before {
    content: "-";
    position: absolute;
    font-size: 40px;
    color: #fff;
    bottom: -12px;
    left: 13px
}

@media screen and (max-width:768px) {
    .ui-spinner a.ui-spinner-button.ui-spinner-down:before {
        font-size: 32px;
        bottom: -7px;
        left: 14px
    }
}

.ui-spinner-input {
    margin-left: 0!important;
    margin-right: 0!important
}

#spinner-karavan,
#spinner-kubometr {
    text-align: center
}

@media screen and (max-width:768px) {
    #spinner-karavan, #spinner-kubometr{
        width: 125px;
        margin: 0;
        padding: 3px
    }
}

.trans {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0
}

@media screen and (max-width:768px) {
    .trans {
        position: inherit
    }
}

.location a {
    font-family: "Open Sans", Arial, sans-serif
}

.youtube {
    background-color: #000;
    margin-top: 50px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #87ceeb;
    border-radius: 10px 60px
}

.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: .7
}

.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    z-index: 1;
    opacity: .8;
    border-radius: 6px
}

.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #fff
}

.youtube .play-button,
.youtube img {
    cursor: pointer
}

.youtube .play-button,
.youtube .play-button:before,
.youtube iframe,
.youtube img {
    position: absolute
}

.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}

.time-play:first-child {
    border-right: 1px solid #fff
}

@media screen and (max-width:992px) {
    .time-play:first-child {
        border-right: none;
        border-bottom: 1px solid #fff
    }
}

.time-play h2 {
    margin: 0
}

.time-play {
    color: rgba(255, 255, 255, .7);
    padding: 15px
}

.price-time p,
.places p,
#gtco-footer p {
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    line-height: 1.7;
}

.price-time {
    height: 320px;
    padding: 20px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgba(75, 107, 245, .86) 0, rgba(208, 15, 247, .86) 100%)
}

@media screen and (max-width:768px) {
    .price-time {
        height: unset;
    }
}

.price-time .icon {
    display: block;
    width: 90px;
    height: 90px;
    position: relative;
    background: #fff;
    top: -3em;
    left: -2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

#gtco-features-3 .feature .icon i,
.price-time .icon i {
    line-height: 90px;
    height: 90px;
    font-size: 40px;
    color: #fff
}

.price-time .icon i:before {
    display: block;
    text-align: center;
    padding-left: 9px;
    font-size: 70px;
    color: #1f8fff;
}

.places h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase
}

#pricing {
    margin-top: 65px
}

@media (max-width:768px) {
    #pricing {
        margin-top: 0
    }
}

.feature.feature-1 h4.info,
.feature.feature-3 h4.info{
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
}


/* Стили Дней Рождения  */

#gtco-header .price {
    padding-left: 0;
}

#gtco-header p {
    margin-left: 4px;
    font-size: 20px;
    color: #ddd;
}

.bellow-footer {
    position: absolute;
    width: 100%;
    background-color: #0074cb;
    padding: 20px 10px 10px 10px;
    left: 0;
    bottom: 0;
}

#gtco-footer {
    background-image: url(../images/bg_2.jpg)
}



#gtco-create {
    background-image: linear-gradient(to bottom, rgba(75, 107, 245, 0.86) 0%, rgba(208, 15, 247, 0.86) 100%);
    background-size: cover;
    transform: translateZ(999px) scale(1);
    z-index: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.title {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 700px;
}

@media screen and (max-width: 768px) {
    .title {
        display: block;
        position: absolute;
        bottom: 0;
        height: unset;
    }
}

#gtco-faq .price-time h2,
#gtco-faq .price-time p {
    position: relative;
    top: -1.7em;
    margin: 0;
    padding: 0;
}

.cover {
    height: auto;
    float: left;
    width: 100%;
}

#gtco-footer .gtco-widget .gtco-quick-contact li i {
    font-size: 35px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    #gtco-footer .gtco-widget .gtco-quick-contact li i {
        font-size: 21px;
        margin-right: 5px;
    }
}

#gtco-footer .gtco-widget .gtco-quick-contact a {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    #gtco-footer .gtco-widget .gtco-quick-contact a {
        font-size: 25px;
    }
}

#gtco-features-3 {
    position: relative;
    background-size: cover
}

ol.rounded-list {
    counter-reset: li;
    padding-inline-start: 10px;
}

.rounded-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    border: 1px solid white;
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rounded-list a:hover {
    background: rgba(155, 155, 155, .5);
}

.rounded-list a:hover:before {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.1em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    color: #1f8fff;
    line-height: 1.4em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

@media screen and (max-width: 768px) {
    #gtco-features-3 .feature p.hidden {
        display: block!important;
    }
}
#feature-3 strong {
    color: #fff;
    font-size: 26px;
}

#bron, #bron-week {
    position: fixed;
    z-index: 2002;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;

}

@media screen and (max-width: 768px){
    #bron, #bron-week {
        overflow: auto;
    }
}

#bron .mfp-close,
#bron-week .mfp-close{
    color: #e568ff;
    font-size: 38px;
}

/* --- Animation For Discount ---
================================*/

.feature-3 .feature-inner .discount {
    color: #fff;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    animation-name: blink;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    from {
        color: rgba(75, 107, 245, 0.86);
    }
    
    to {
        color: rgba(75, 107, 245, 0.86);
    }
    
    50% {
        color: #fff;
    }
}